.property-1opendefault-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 10px;
  top: 18px;
  transform: scale(1.75);
}
.wrapper-property-1opendefault {
  width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
